body{
    background: #feca97;
}
.theme-head{
    display: block;
    background: url("../img/body_bg.jpg") center no-repeat;
}
.index-cont {
    margin-top: 0;
    background: #feca97;
    background: rgba(51, 51, 51, 0.2);
}
.cont-userbox .cont-bg{
    background: #feca97;
    background: url("../img/profile_cover_s.jpg");
}